*, *::after, *::before {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    font-family: system-ui, sans-serif;
    margin: 0;
    font-size: 1vmin;
}

:root {
    /* Colors */
    --Color-O: #e84040;
    --Color-X: #333;

    /* Camera */
    --Camera-default-y: -50em;
    --Camera-default-z: -50em;
    --Camera-default-angle: -50deg;

    --Camera-topDown-y: 0em;
    --Camera-topDown-z: 0em;
    --Camera-topDown-angle: -90deg;

    /* Board */
    --Board-depth: 20em;
    --Board-outer-size: 100em;
    --Board-outer-thickness: 5em;
    --Board-inner-size: 95em;
    --Board-inner-thickness: 2em;

    /* Tile */
    --Tile-size: 25em;

    --Texture-wood: url("./img/wood.jpg");
    --Texture-table: url("./img/table.jpg");
    --Texture-plain: #fff;
}

.Scene {
    background: url("./img/background.jpg");
    background-size: cover;
    height: 100%;
    perspective: 100em;
    overflow: hidden;

    display: grid;
    place-items: center;
}

.Scene * {
    transform-style: preserve-3d;
}

.GameArea {
    width: 105em;
    height: 155em;
    transform: rotateX(90deg) translateX(-50%);
}

.Camera,
.Camera[data-view="default"] {
    --Camera-y: var(--Camera-default-y);
    --Camera-z: var(--Camera-default-z);
    --Camera-angle: var(--Camera-default-angle);

    transform: translateY(var(--Camera-y)) translateZ(var(--Camera-z)) rotateX(var(--Camera-angle));
    transition: transform 1.5s;
}

.Camera[data-view="top-down"] {
    --Camera-y: var(--Camera-topDown-y);
    --Camera-z: var(--Camera-topDown-z);
    --Camera-angle: var(--Camera-topDown-angle);
}

.Panner {
    position: absolute;
    top: 0;
    left: 0;
    will-change: transform;
}

.Panner--vertical {
    animation: Pan--vertical-default 1s both infinite linear alternate;
    animation-delay: -.5s;
    animation-play-state: paused;
}

.Panner--horizontal {
    animation: Pan--horizontal-default 1s both infinite linear alternate;
    animation-delay: -.5s;
    animation-play-state: paused;
}

.Camera[data-view="top-down"] .Panner--vertical {
    animation-name: Pan--vertical-topDown;
}

.Camera[data-view="top-down"] .Panner--horizontal {
    animation-name: Pan--horizontal-topDown;
}

@keyframes Pan--horizontal-default {
    from {
        transform: rotateY(5deg);
    }

    to {
        transform: rotateY(-5deg);
    }
}

@keyframes Pan--horizontal-topDown {
    from {
        transform: rotateY(2deg) rotateZ(-5deg);
    }

    to {
        transform: rotateY(-2deg) rotateZ(5deg);
    }
}

@keyframes Pan--vertical-default {
    from {
        transform: rotateX(5deg);
    }

    to {
        transform: rotateX(-5deg);
    }
}

@keyframes Pan--vertical-topDown {
    from {
        transform: rotateX(-5deg);
    }

    to {
        transform: rotateX(5deg);
    }
}

.ViewSwitcher {
    --x: 100em;
    --y: -30em;
    --rz: 20deg;
    --width: 40em;
    --height: 40em;
    --depth: 15em;
}

.ViewSwitcher-button {
    --x: 5em;
    --y: 5em;
    --width: 30em;
    --height: 30em;
    --depth: 7em;
    --texture: var(--Texture-plain);
}

.ViewSwitcher:hover .ViewSwitcher-button {
    --z: -2em;
}

.ViewSwitcher:active .ViewSwitcher-button {
    --z: -6em;
}

.ViewSwitcher-button-eye {
    position: absolute;
    top: 5em;
    left: 5em;
    right: 5em;
    bottom: 5em;
    background: url('https://api.iconify.design/mdi/eye.svg?color=%23333') no-repeat center center / contain;
}

.ViewSwitcher-button[data-view="top-down"] .ViewSwitcher-button-eye {
    background-image: url('https://api.iconify.design/mdi/eye.svg?color=%23e84040');
}

.Turn[data-mark="X"] {
    --ry: -90deg;
}

.Turn[data-mark="O"] {
    --ry: 90deg;
}

.ScoresBox {
    --x: -15em;
    --y: 5em;
    --rz: -10deg;
    --width: 80em;
    --height: 20em;
    --depth: 30em;
}

.Scores {
    transform-style: flat;
    font-size: 20em;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
    color: var(--Color-X);
    user-select: none;
}

.Scores * {
    transform-style: flat;
}

.Scores-number[data-type="O"] {
    color: var(--Color-O);
}

.WinnerBox[data-mark=""],
.WinnerBox[data-mark=""] {
    --z: -30em;
}

.Winner {
    color: var(--Color-X);
    font-size: 10em;
    text-align: center;
    line-height: 1.5;
    user-select: none;
}

.Tile-pivot {
    --y: calc(var(--Tile-size) * 0.5);
    --x: calc(var(--Tile-size) * 0.5);
    --z: calc(var(--Tile-size) * 0.5);
    transition: transform .5s;
}

.Tile-cube {
    --x: calc(var(--Tile-size) * 0.5 * -1);
    --y: calc(var(--Tile-size) * 0.5 * -1);
    --z: calc(var(--Tile-size) * 0.5 * -1);
}

.Tile[data-mark=""]:hover .Tile-pivot {
    --z: calc(var(--Tile-size) * 0.5 + 5em);
}

.Tile[data-mark=""]:active .Tile-pivot {
    --z: calc(var(--Tile-size) * 0.5 + -2em);
}

.Tile[data-mark=""] [data-type="O"],
.Tile[data-mark=""] [data-type="X"] {
    opacity: 0;
}

.Tile[data-mark="X"] .Tile-pivot {
    --rx: 180deg;
}

.Tile[data-mark="X"] [data-type="O"] {
    opacity: 0;
}

.Tile[data-mark="O"] .Tile-pivot {
    --rx: -180deg;
}

.Tile[data-mark="O"] [data-type="X"] {
    opacity: 0;
}

.Mark {
    position: absolute;
    top: 2vmin;
    left: 2vmin;
    right: 2vmin;
    bottom: 2vmin;
}

.Mark[data-type="X"] {
    transform: rotate(45deg);
}

.Mark[data-type="X"]::before,
.Mark[data-type="X"]::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    width: 5vmin;
    background-color: var(--Color-X);
}

.Mark[data-type="X"]::before {
    transform: translateX(-50%);
}

.Mark[data-type="X"]::after {
    transform: translateX(-50%) rotate(90deg);
}

.Mark[data-type="O"] {
    border: 4vmin solid var(--Color-O);
    border-radius: 50%;
}

@media (orientation: landscape) {
    :root {
        /* Camera */
        --Camera-default-y: -40em;
        --Camera-default-z: -50em;
        --Camera-default-angle: -50deg;

        --Camera-topDown-y: 0em;
        --Camera-topDown-z: -10em;
        --Camera-topDown-angle: -90deg;
    }

    .ViewSwitcher {
        --x: -20em;
        --y: 100em;
        --rz: -10deg;
        --scale: .7;
    }

    .ScoresBox {
        --x: -50em;
        --y: 65em;
        --rz: -30deg;
    }

    .BoardBox {
        --x: 40em;
        --y: -20em;
    }
}
